<div class="module-container animate-fade"><h1><%= campusName %> Campus</h1><h2>Modules</h2>
<div class="module"><h3>Module 1: Introduction</h3><p>Basics of <%= campusName %></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe></div>
<div class="module"><h3>Module 2: Deep Dive</h3><p>Advanced techniques in <%= campusName %></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY" frameborder="0" allowfullscreen></iframe></div></div>